
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<title>Document</title>
	
</head>

<style>
	body html{
		margin: 0;
		padding: 0;
	}
	.backgroundimg {
		background-image: url('/assets/img/fondo.jpg');
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		height: 100vh;
		width: 100%;
		

	}

	

	
</style>


<body>

<div class="row backgroundimg">


	<div class="container-fluid">
		<div class="row">
	
								 
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				
					<div class="card-transparent border border-warning " style="width: 30rem;" >
						<img style="height: 100px; width: 100px; margin: 20px;  background-color: #fcf8f8;"class="card-img-top 
					rounded-circle mx-auto d-block" src="/assets/img/560858.jpg" alt="">
				   <div class="text-center" >
				   <h3><a class="card-title text-white" href="http://example.com/">Agregar Colaborador</a></h3>		   
				   </div>
					</div>

			</div>	 
		
			 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
	   
			
				<div class="card-transparent border border-warning " style="width: 30rem;" >
					<img style="height: 100px; width: 100px; margin: 20px;  background-color: #fcf8f8;"class="card-img-top 
				rounded-circle mx-auto d-block" src="/assets/img/560858.jpg" alt="">
			   <div class="text-center" >
			   <h3><a class="card-title text-white" href="http://example.com/">Agregar Colaborador</a></h3>		   
			   </div>
				</div>
			</div>	 
		
			 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
	   
				<img style="height: 100px; width: 100px; margin: 20px;  background-color: #fcf8f8;"class="card-img-top 
				rounded-circle mx-auto d-block" src="/assets/img/560858.jpg" alt="">
			   <div class="text-center">
			   <h5 class="card-title">Ver Proyectos</h5>
			   <p>Creación de proyecto</p>
				
			   <a href="#" class="btn btn-primary">Editar</a>
		  
			   </div>
			</div>	 
		
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
	
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<br>
				<br>
				<br>
				<img style="height: 100px; width: 100px; margin: 20px;  background-color: #fcf8f8;"class="card-img-top 
				rounded-circle mx-auto d-block" src="/assets/img/560858.jpg" alt="">
			   <div class="text-center">
			   <h5 class="card-title">Reportes Staffing</h5>
			   <p>Creación de proyecto</p>
				
			   <a href="#" class="btn btn-primary">Editar</a>
		  
			   </div>
			</div>	 
			
		</div>
	
		
	</div>s
</div>


	
	
</body>
</html>