body {
    width: 100%;
    height: 100%;
    background-image: url("/assets/img/pastel.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

span{
    font-size:15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
  text-decoration:none; 
  color: #0062cc;
  border-bottom:2px solid #0062cc;
}
.box{
    padding:30px 0px;
}

.box-part{
    background:rgb(252, 234, 234);
    -webkit-border-radius: 10px;
    border-radius: 30px;
    padding:30px 10px;
    margin:20px 10px;
    
}

.text{
    margin:20px 0px;
   
}

.fa{
     color:#4183D7;
}