<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
<div>
	<div class="box">
    	<div class="container">
     		<div class="row">
			 
				    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
						<div class="box-part text-center">
                        
							<div class="title">
								<h4>Añadir Colaboradores</h4>
							</div>
                        
							<div class="text">
								<span>Haz click <a href="agregarcolaborador">aquí</a> para agregar uno o más colaboradores a un proyecto.</span>
							</div>
                        
                        
						 </div>
					</div>	 
				
				 	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
						<div class="box-part text-center">
					    
						<div class="title">
							<h4>Crear proyectos</h4>
						</div>
                        
							<div class="text">
								<span>Haz click <a href="asignarproyecto">aquí</a> para asignar proyectos por realizar.</span>
							</div>
                        
                        
						 </div>
					</div>	 
				
					 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
						<div class="box-part text-center">
							<div class="title">
								<h4>Ver proyectos</h4>
							</div>
                        
							<div class="text">
								<span>Haz click <a href="verproyectos"> aquí</a>  para ver proyectos finalizados y/o en desarrollo.</span>
							</div>
                        
                        
					 	</div>
					</div>	 
				
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>

					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<div class="box-part text-center">
							<div class="title">
								<h4>Reportes</h4>
							</div>
                        
							<div class="text">
							<span>Haz click <a href="reportestaffing">aquí</a> para ver reportes de progreso de proyectos y staffing.</span>
							</div>

					 	</div>
					</div>	 
					
				</div>
		
			</div>
       
		</div>
	</div>
	<br><br><br>
	
</body>	
