<!DOCTYPE html>
<html>
    <head>

    </head>
<body>

    <ul class="nav nav-tabs bg-dark">
        <li class="nav-item">
            <a class="nav-link active"> Registrar colaborador</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/accesoadmin">Pagina principal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/asignarproyecto">Asignar proyecto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/verproyectos">Ver proyectos</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/reportestaffing">Reporte de Staffing</a>
        </li>  
    </ul>
      <br>

      
    <div class="container">
        <div class="form-row">
               <div class="form-group col-md-4"></div> 
               <div class="form-group col-md-6">
                   <button type="button" class="btn btn-primary">
                     TotalColaboradores: <span class="badge badge-light">5</span>
                   </button>
            </div> 
            <div class="form-group col-md-3"></div> 
           </div>
       </div>
       <div class="container">
           <div class="form-row">
               <div class="form-group col-md-3"></div> 
               <div class="form-group col-md-3">
                   <button type="button" class="btn btn-primary">
                       Libres: <span class="badge badge-light">4</span>
                   </button>
               </div> 
               <div class="form-group col-md-3">
                   <button type="button" class="btn btn-primary">
                       Asignados: <span class="badge badge-light">1</span>
                   </button>
               </div>
               <div class="form-group col-md-3"></div> 
           </div>
       </div>
   
   
   



      <div class="container">
          <form>
              <table class="table table-dark">
                  <thead>
                    <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Apellido</th>
                      <th scope="col">Email</th>
                      <th scope="col">Proyecto</th>
                      <th scope="col">Area</th>
                      <th scope="col">Cargo</th>
                      <th scope="col">HabilidadesTecnicas
                      </th>

                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Libertad</td>
                      <td>Herrera</td>
                      <td>Libertadalmendra1375@gmail.com</td>
                      <td>ProyectoFinal</td>
                      <td>ProgramaciónWeb/Digital</td>
                      <td>JefaJajah</td>
                      <td>ncna</td>

                    </tr>
                  </tbody>
                </table>
            </form>    
      </div>
  
</body>
