<html>
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>


  <ul class="nav nav-tabs bg-dark">
    <li class="nav-item">
        <a class="nav-link active"> Ver Proyectos</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="/accesoadmin">Pagina Principal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/agregarcolaborador">Agregar Colaborador</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/asignarproyecto">Crear proyecto</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/reportestaffing">Reporte de Staffing</a>
    </li>  
  </ul>
  <br>
   
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filtrar por area
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Programacion</a>
          <a class="dropdown-item" href="#">Administacion</a>
          <a class="dropdown-item" href="#">Marketing</a>
          <a class="dropdown-item" href="#">Contabilidad</a>
        </div>
      </div>
      <br> <br> <br> <br> <br> <br> 
    

 <button type="button" class="btn btn-danger btn-circle btn-lg"><i class="glyphicon glyphicon-heart"></i></button>
 <br> <br>
 <button type="button" class="btn btn-success btn-circle btn-lg"><i class="glyphicon glyphicon-link"></i></button>
 <br> <br>
<button type="button" class="btn btn-warning btn-circle btn-lg"><i class="glyphicon glyphicon-remove"></i></button>


</body>









</html>
