<html>
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  

</head>

<body>


  <ul class="nav nav-tabs bg-dark">
    <li class="nav-item">
        <a class="nav-link active"> Ver Proyectos</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="/accesoadmin">Pagina Principal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/agregarcolaborador">Agregar Colaborador</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/asignarproyecto">Crear proyecto</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/reportestaffing">Reporte de Staffing</a>
    </li>  
  </ul>
  <br>
   
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filtrar por area
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Programacion</a>
          <a class="dropdown-item" href="#">Administacion</a>
          <a class="dropdown-item" href="#">Marketing</a>
          <a class="dropdown-item" href="#">Contabilidad</a>
        </div>
      </div>
      <br>
    

      <nav>
        <ul>
          <li>Proyecto actual</li>
          <li>Proyecto con retraso</li>
          <li>Proyecto suspendido</li>
        </ul>
      </nav>

    
 <br> <br> <br> 




</body>









</html>
