
 body{
    width: 100%;
    height: 100%;
    background-image: url('/assets/img/pastel.jpg');
    background-position: auto;

    background-repeat: no-repeat;
    align-self: center;
    background-size: cover;
  }
 
 button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(8, 6, 6);
    background-color: rgb(161, 203, 219);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(102, 101, 102);
   
    
  }
 custom-area {
   margin-right: 50px;
  }
  .split {
   height: 100%;
   width: 50%;
   position: fixed;
   z-index: 1;
   top: 0;
   overflow-x: hidden;
   padding-top: 20px;
 }
 
 /* Control the left side */
 .left {
   left: 0;
   background-image: url('/assets/img/fondo.jpg');
   margin-top: 40px;
 }
 
 /* Control the right side */
 .right {
   right: 0;
   background-image: url('/assets/img/fondo.jpg');
   margin-top: 40px;
 }
 
 /* If you want the content centered horizontally and vertically */
 .centered {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
 }
 
 /* Style the image inside the centered container, if needed */
 .centered img {
   width: 150px;
   border-radius: 50%;
 }