<!DOCTYPE html>
<html>
  <!------ Include the above in your HEAD tag ---------->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crear Proyecto-Adm</title>
    
 </head>
 <body >
   <ul class="nav nav-tabs bg-dark">
    <li class="nav-item">
        <a class="nav-link active"> Crear Proyecto</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/accesoadmin">Pagina Principal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/agregarcolaborador">Agregar Colaborador</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/verproyectos">Ver proyectos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/reportestaffing">Reporte de Staffing</a>
    </li>  
   </ul>
   <br>
   <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="nombre_Proyecto"><strong>Nombre Proyecto</strong></label>
      <input type="text" class="nombre_Proyecto" id="nombre_Proyecto" placeholder="Creacion frontend" value="" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
  
   </div>
 
  
    <div class="form-row">
     <div class="col-md-3 mb-3">
      <label for="fecha_Inicio"><strong>Fecha Inicio</strong></label>
      <input type="text" class=">fecha_Inicio" id="fecha_Inicio" placeholder="02-05-2020" value= "" required>
     </div>
    </div>
    <div class="col-md-3">
      <label for="fecha_Final"><strong>Fecha Final</strong></label>
      <input type="text" class="fecha_Final" id="fecha_Final" placeholder="02-08-2020" value="" required>
      <div class="invalid-feedback">
        porfavor ingrese una fecha logica
      </div>
    </div>
    <div class="col-md-6" >
      <label for="custom_area"><strong>Area del proyecto</strong></label>
      <select class="custom_area" id="custom_area" required>
        <option selected disabled value="">Filtro por area</option>
        <option>Contabilidad</option>
        <option>Aprovicionamiento de redes</option>
        <option>Arquitectura</option>
        <option>Programacion</option>
        <option>Logistica</option>
        <option>Administracion</option>
        <option>Otra</option>
      </select>
      <div class="invalid-feedback">
        ingrese un area correcta
      </div>
    </div>
         
         
          <div class="custom-control custom-switch">
           
            <ul>
              <label for="custom-control custom-switch"><strong>Colaboradores segun area:</strong></label>
              <input type="checkbox" class="custom-control-input" id="fullName">
             <li><label class="custom-control-label" for="customSwitch1"> Ada Lovelace </label></li>
             <li><label class="custom-control-label1" for="customSwitch2"> Palta Tomate Queso </label></li>
             <li><label class="custom-control-label2" for="customSwitch3"> Almendra Carvajal  </label></li>
             <li> <label class="custom-control-label3" for="customSwitch4"> Maria Sangueza</label></li>
            
            </ul>
            
          </div>
        
         
       

    
   
    <button class="button1" type="submit">Crear Proyecto</button>

 </body>
 





</html>