<!DOCTYPE html>
<html>
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crear Proyecto-Adm</title>
 </head>


 <body >
    <ul class="nav nav-tabs bg-dark">
        <li class="nav-item">
            <a class="nav-link active"> Crear Proyecto</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/accesoadmin">Pagina Principal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/agregarcolaborador">Agregar Colaborador</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/verproyectos">Ver proyectos</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/reportestaffing">Reporte de Staffing</a>
        </li>  
    </ul>
    <br>

      <form class="needs-validation" novalidate>
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationCustom01">Nombre Proyecto</label>
                <input type="text" class="form-control" id="validationCustom01" value="Creacion frontend" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="col-md-8 mb-3">
                <label for="validationCustom02">Descripcion</label>
                <input type="text" class="form-control" id="validationCustom02" value="Se requiere crear frontend para pag web. archivo html, css y ts" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
        
            </div>
            <div class="form-row">
              <div class="col-md-3 mb-3">
                <label for="validationCustom03">Fecha Inicio</label>
                <input type="text" class="form-control" id="validationCustom03" value= "02-05-2020" required>
                <div class="invalid-feedback">
                  porfavor ingrese una fecha logica
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationCustom03">Fecha Final</label>
                <input type="text" class="form-control" id="validationCustom03" value= "20-08-2020" required>
                <div class="invalid-feedback">
                  porfavor ingrese una fecha logica
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="validationCustom04">Area del proyecto</label>
                <select class="custom-select" id="validationCustom04" required>
                  <option selected disabled value="">Filtro por area</option>
                  <option>Contabilidad</option>
                  <option>Aprovicionamiento de redes</option>
                  <option>Arquitectura</option>
                  <option>Programacion</option>
                  <option>Logistica</option>
                  <option>Administracion</option>
                  <option>Otra</option>
                </select>
                <div class="invalid-feedback">
                  ingrese un are correcta
                </div>
              </div>
            </div>
            <button class="btn btn-primary" type="submit">Crear proyecto</button>
          </form>
          
          <script>
          // Example starter JavaScript for disabling form submissions if there are invalid fields
          (function() {
            'use strict';
            window.addEventListener('load', function() {
              // Fetch all the forms we want to apply custom Bootstrap validation styles to
              var forms = document.getElementsByClassName('needs-validation');
              // Loop over them and prevent submission
              var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                  if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                  }
                  form.classList.add('was-validated');
                }, false);
              });
            }, false);
          })();
          </script>
          <div class="ListC">
            <label for="ListC">Colaboradores segun area</label>
            <ul class="list-group">
              <li class="list-group-item"><input type="checkbox" id="cbox2" value="2_checkbox"> <label for="cbox2">Molly Tumber</label></li>
              <li class="list-group-item"><label><input type="checkbox" id="cbox1" value="1_checkbox"> Ada Lovelace</label></li>
              <li class="list-group-item"><input type="checkbox" id="cbox3" value="3_checkbox"> <label for="cbox3">Palta Tomate Queso</label></li>
              <li class="list-group-item"><input type="checkbox" id="cbox4" value="4_checkbox"> <label for="cbox4">Maria Sangueza</label></li>
              <li class="list-group-item"><input type="checkbox" id="cbox5" value="5_checkbox"> <label for="cbox5">Almendra Carvajal</label></li>
            </ul>
          </div>

  </body>





</html>