<!DOCTYPE html>
<html>
  <!------ Include the above in your HEAD tag ---------->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crear Proyecto-Adm</title>
 </head>

 <body>
      <ul class="nav nav-tabs bg-dark">
        <li class="nav-item">
            <a class="nav-link active"> Crear Proyecto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/accesoadmin">Pagina Principal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/agregarcolaborador">Agregar Colaborador</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/verproyectos">Ver proyectos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/reportestaffing">Reporte de Staffing</a>
        </li>  
    </ul>
    <div class="container">
      <div class="form-row">
          <div class="form-group col-md-4"> </div>
          <div class="form-group col-md-5" style="color:lightseagreen">
            <br>
            <br>
            <h2>      Registrar colaborador</h2>
            <br>
          </div>
          <div class="form-group col-md-3"></div>
      </div>

      <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="nombre" style="color: white;">Nombre Proyecto</label>
              <input type="text" class="form-control" id="nombre">
            </div>
            <div class="form-group col-md-6">
              <label for="nombre" style="color: white;">Fecha inicio</label>
              <input type="text" class="form-control" id="nombre">
              <label for="nombre" style="color: white;">Fecha final</label>
              <input type="text" class="form-control" id="nombre">
            </div>
           
          </div>
          <div>
            <label for="nombre" style="color: white;">Descripcion del proyecto</label>
            <textarea cols="50" rows="5" style="overflow:scroll;">
              Description of the project here....
            </textarea>

          </div>
          

          <div class="form-row">
              <div class="form-group col-md-4">
                  
                      <label for="inlineFormCustomSelect" style="color: white;">Rol</label>
                      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                        <option selected>Selecciona...</option>
                        <option value="colaborador">Colaborador</option>
                        <option value="administrador">Administrador</option> 
                      </select>
                    
              </div>     
          </div>
          <button type="button" class="btn btn-outline-info">Crear perfil colaborador</button>
      </form>
    </div>
 </body>
</html>








  


