body{
    margin: 0;
    padding: 0;
    background-image: url('/assets/img/pastel.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.nav-link{
    color:lightseagreen;
}

.fondo{
    background-color: rgb(217, 235, 235)
}