
<!DOCTYPE html>
<html>
  

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <head>
        
    </head>
    <body>
    <ul class="nav nav-tabs bg-dark">
        <li class="nav-item">
            <a class="nav-link active"> Registrar colaborador</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/accesoadmin">Pagina principal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/asignarproyecto">Asignar proyecto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/verproyectos">Ver proyectos</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/reportestaffing">Reporte de Staffing</a>
        </li>  
    </ul>
      <br>
        
    <div class="container">

      <div class="form-row">
        <div class="form-group col-md-3"> </div>
        <div class="form-group col-md-6">
          <h1>Registrar colaborador</h1>
        </div>
        <div class="form-group col-md-3"></div>
      </div>

        
        <form>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre">
              </div>
              <div class="form-group col-md-4">
                <label for="Apellido">Apellido</label>
                <input type="text" class="form-control" id="apellido">
              </div>
              <div class="form-group col-md-4">
                <label for="nombre">Rut</label>
                <input type="text" class="form-control" id="nombre">
              </div>
            </div>

            <div class="form-group">
                <label for="correo">Email</label>
                <input type="email" class="form-control" id="correo" placeholder="ejemplo@ejemplo.com">
            </div>
             
        

            <div class="form-group">
                <label for="exampleFormControlSelect2">Idiomas</label>
                <select multiple class="form-control" id="exampleFormControlSelect2">
                  <option>Español</option>
                  <option>Ingles</option>
                  <option>Frances</option>
                  <option>Portugues</option>
                  <option>Mandarín</option>
                </select>
            </div>


            <div class="form-group">
                <label for="exampleFormControlSelect2">Habilidades Tecnicas</label>
                <select multiple class="form-control" id="exampleFormControlSelect2">
                  <option>Java</option>
                  <option>Backend</option>
                  <option>Frontend</option>
                  <option>Java Script</option>
                </select>
            </div>


            <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="nombre">Cargo</label>
                  <input type="text" class="form-control" id="nombre">
                </div>
                
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    
                        <label for="inlineFormCustomSelect">Rol</label>
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                          <option selected>Selecciona...</option>
                          <option value="alumno">Colaborador</option>
                          <option value="profesor">Administrador</option> 
                        </select>
                      
                </div>
                
            </div>
  
           
            <button type="submit" class="btn btn-primary">Crear perfil colaborador</button>
        </form>
    </div>
    </body>
</html>    
